<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .card {
        margin: auto;
        width: 450px;
        top: 50%;
        padding: 20px;
        border: 2px solid blue;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    </style>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./lessons.js"></script>

    <div id="myApp">
      <button
        id="backButton"
        v-text="swapMessage"
        @click="showCart"
        :disabled="!this.cart.length > 0"
      ></button>

      <div v-if="displayCart">
        <p>Cart: {{numberOfItems}}</p>

        <div>
          <h2>Complete Order</h2>
        </div>
        <p>First Name: <input v-model="order.firstName" placeholder="First Name"/></p>
        <p>Last Name: <input v-model="order.lastName" placeholder="Last Name"/></p>
        <p>Phone Number: <input v-model="order.phone" placeholder="Phone Number"/></p>

        <button @click="placeOrder" :disabled="!formComplete">Place Order</button>
      </div>

      <div v-else>
        <div v-for="(lesson, idx) of lessonArray" class="card" >
          <div class="info">
            <h3>{{lesson.subject}}</h3>
            <p>{{lesson.tutor}}</p>
            <p>{{lesson.location}}</p>
            <p>{{lesson.price}}</p>
            <p>Available: {{lesson.quantity}}</p>
          </div>
          <img :src="lesson.image" :alt="altText" width="200" />

          <button @click="addToCart(idx)" :disabled="!canAddToCart(lesson)">
            Add
          </button>
        </div>
      </div>
    </div>

    <script type="module">
      const { createApp } = Vue;
      const myApp = createApp({
        data() {
          return {
            lessonArray: lessons,
            cart: [],
            displayCart: false,
            swapMessage: "Checkout",
            order: {
              cartContent: [],
              firstName: "",
              lastName: "",
              phone: "",
            },
          };
        },
        computed: {
          numberOfItems: function () {
            return this.cart.length;
          },
          formComplete: function () {
            return this.order.firstName && this.order.lastName && this.order.phone
          }
        },
        methods: {
          addToCart(index) {
            this.cart.push(this.lessonArray[index].id);
            this.lessonArray[index].quantity--;
            console.log(this.canAddToCart);
          },
          showCart() {
            this.displayCart = !this.displayCart;
            this.swapMessage == "Checkout"
              ? (this.swapMessage = "Go back")
              : (this.swapMessage = "Checkout");
          },
          canAddToCart(lesson) {
            return lesson.quantity > 0 ? true : false;
          },
          placeOrder(order) {
            alert("Order has been placed!")
            this.cart = [];
            document.getElementById('backButton').click();
          }
        },
      });

      myApp.mount("#myApp");
    </script>
  </body>
</html>

